doctype html
html
  head
    title= title
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
  body
    block content
