extends layout

block content
    script(type='text/javascript', src='javascripts/login.js')

    | Existing Users
    ul
        each user in users
            li= user

    form(name='login')
        input(name='username', placeholder='Name')
        button(type='submit')
            | Join Game
