$cell-size: 50px;
$robot-size: $cell-size/2;

.row {
    overflow: auto;
}

.cell {
    width: $cell-size;
    height: $cell-size;
    float: left;
    border: 1px solid black;
    margin: -1px -1px 0 0;

    &[class*='N'] {
        border-top-width: 5px;
    }

    &[class*='E'] {
        border-right-width: 5px;
    }

    &[class*='S'] {
        border-bottom-width: 5px;
    }

    &[class*='W'] {
        border-left-width: 5px;
    }
}

.robot {
    margin: $robot-size/2;
    width: $robot-size;
    height: $robot-size;
    border-radius: 50%;
    display: block;

    &.yellow {
        background-color: yellow;
    }

    &.red {
        background-color: red;
    }

    &.green {
        background-color: green;
    }

    &.blue {
        background-color: blue;
    }
}
